set_io uart_rxd 4
set_io uart_txd 6

set_io spi_cs 16
set_io spi_sclk 15
set_io spi_mosi 14
set_io spi_miso 17

set_io i2c_scl 27
set_io i2c_sda 26

set_io oled_rst 25

set_io LED_R 40
set_io LED_G 41
set_io LED_B 39

set_io SW_1 18
set_io SW_2 19
set_io SW_3 20
set_io SW_4 21