set_io pin_usbp     10
set_io pin_usbn     9
set_io pin_pu       11

set_io uart_rxd 4
set_io uart_txd 6

set_io spi_cs 16
set_io spi_sclk 15
set_io spi_mosi 14
set_io spi_miso 17

set_io i2c_scl 27
set_io i2c_sda 26

set_io LED_R 40
set_io LED_G 41
set_io LED_B 39

set_io SW_1 18
set_io SW_2 19
set_io SW_3 20
set_io SW_4 21

set_io DEBUG_0 46 
set_io DEBUG_1 44
set_io DEBUG_2 42
set_io DEBUG_3 37
set_io DEBUG_4 45
set_io DEBUG_5 43
set_io DEBUG_6 38
set_io DEBUG_7 36